{% extends "base.html" %}
{% block content %}
<form method="post">
<label style="display: inline-block; width: 280px; text-align: right; padding:2px;">
    Username
    <input name="username" value="{{username}}">
    </input>
</label>
<span style="color: red;">{{error_name}}</span>
<br>
<label style="display: inline-block; width: 280px; text-align: right; padding:2px;">
    Password
    <input name="password" type="password" value="{{password}}"></input>
</label>
<span style="color: red;">{{error_pass}}</span> 
<br>
<label style="display: inline-block; width: 280px; text-align: right; padding:2px;">
    Verify password
    <input name="verify" type="password" value="{{verify}}"></input> 
</label>
<span style="color: red;">{{error_ver}}</span>
<br>
<label style="display: inline-block; width: 280px; text-align: right; padding:2px;">
    Email (optional)
        <input name="email" value="{{mail}}"></input>
</label>
<span style="color: red;">{{error_mail}}</span>  
<br>
<br>
<input type="submit"></input>
</form>
{% endblock %}


